mixin project(title,blurb,date,description,imgs,tools)
	.item
		.overlay
			.overlay-inner
				.tl
				.tr
				.bl
				.br
				
				- var allTools = ''
				- for (var i=0; i<tools.length; i++)
					- allTools = allTools + tools[i]
					- if(i < tools.length -1)
						- allTools = allTools + ' // '
				.tools= allTools
				.top-line
				.title= title 
				.description= blurb
				.bottom-line
				.date= date
		.project-page
			.tl
			.tr
			.bl
			.br
			.close
			.inner
				.inner-inner
					.project-content
						.header
							.left
								.title= title
								.line
								for t in tools
									.tool= t
							.description= description
						.main
							for i in imgs
								img(src=i)
		img(src= imgs[0])


	
doctype html
html
	head
		title Jane Fan Portfolio
		link(rel="stylesheet" type="text/css" href="css/index.css")
		link(href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0") 

	body
		#banner.banner-mode
			#banner-bg
			#banner-title Jane Fan
			#banner-subtitle Media Artist and Developer
			#banner-subtitle2 Website coming soon
			
		#nav-bar.banner-mode
			.background
			.nav-item.creative-code Creative code
				.border
			.divider
			.nav-item.3d-art 3D art
				.border
			.divider
			.nav-item.illustration Illustration
				.border
			.divider
			.nav-item.about About
				.border
		#content.banner-mode
			.page.creative-code

				+project("Flow Field","a code sketch","02.17.","description...",["img/poste4.jpg","img/poste4.jpg","img/poste4.jpg"],["Processing","Photoshop"])


				+project("White Apartments","illustration experiment","02.17.","description...",["img/white_apartments.jpg","img/poste4.jpg","img/poste4.jpg"],["Processing","Photoshop"])


				+project("Flow Field","a code sketch","02.17.","description...",["img/white_apartments.jpg","img/poste4.jpg","img/poste4.jpg"],["Processing","Photoshop"])

			.page.3d-art
			
				+project("White Apartments","illustration experiment","02.17.","description...",["img/white_apartments.jpg","img/poste4.jpg","img/poste4.jpg"],["Processing","Photoshop"])


			.page.illustration
	
			.page.about
				.item
					.title Hi I'm Jane Fan
				.item
					.subtitle I'm a media arts and computer science student at the University of New South Wales, Sydney.
				.item
					h4 About Me
					p.
						I like to apply my programming knowledge in experimental and
						artistic ways, including but not limited to, generative and
						interactive art installatons, illustration, 3d art and front-end
						programming. I'm always looking for new ways to apply my artistic and programming knowlege together.
					p.
						I'm due to graduate by the end of 2018 and looking for exciting 
						developer/designer/artist roles. 
				.item
					h4 Skills
					p.
						Java // Python // Processing // Node.js // Pug // Stylus // Unity scripting // Computer vision // MaxMsp // Blender // Maya // Mudbox // Photoshop
				.item
					h4 Contact Me
					p.
						jfan9988 (@) gmail.com




	

		// - add this to enable browser reload on app restart
		script(src="reload/reload.js")
		script(src="js/index.js")
