mixin project(title, blurb, date, description, imgs, tools, video, linkText, link)
	.item
		.overlay
			.overlay-inner
				.tl
				.tr
				.bl
				.br
				
				- var allTools = ''
				- for (var i=0; i<tools.length; i++)
					- allTools = allTools + tools[i]
					- if(i < tools.length -1)
						- allTools = allTools + ' // '
				.tools= allTools
				.top-line
				.title= title 
				.description= blurb
				.bottom-line
				.date= date
		.project-page
			.tl
			.tr
			.bl
			.br
			.close
			.inner
				.inner-inner
					.project-content
						.header
							.left
								.title= title
								.line
								for t in tools
									.tool= t
							.description
								for d in description
									p= d
								if(link)
									br
									a(href=link) #{linkText}
						.main
							for i in imgs
								img(src=i)
							if(video)
								.video
									iframe(style=" width:100%; height:100%; position:absolute; top:0; left:0" src= video frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
		img(src= imgs[0])


	
doctype html
html
	head
		title Jane Fan Portfolio
		link(rel="stylesheet" type="text/css" href="css/index.css")
		link(href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0") 

	body
		#banner.banner-mode
			#banner-bg.inactive
			#banner-title Jane Fan
			#banner-subtitle Media Artist and Developer
			#banner-subtitle2
			
		#nav-bar.banner-mode
			.background
			.nav-item.creative-code Creative code
				.border
			.divider
			.nav-item.3d-art 3D art
				.border
			.divider
			.nav-item.illustration Illustration
				.border
			.divider
			.nav-item.about About
				.border
		#content.banner-mode
			.page.creative-code
				+project("Celestial Bodies",
				         "body tracking artwork",
								 "9.20.",
								 ["Celestial Bodies was created to explore the challenges of interactive art, one of which is the difficulty in engaging extended thoughtful attention from the viewer. The choice of game engine as the medium makes this especially difficult because of its associated aesthetics and expectations for action and instant gratification. Celestial Bodies counters that by making stillness of the body the action for activation. The dazzling particles effects, normally a source of sensory assault in a game, have been designed to hypotise instead in this artwork. Although the interaction begins as a mirror of the body, awareness of the self becomes lost in the unfolding layers of animations, leading the way into thoughtful contemplation or meditation. \
								 This artwork was part of the Origin Parallels Exhibition at Kudos Gallery"],
								 ["img/celestial_bodies.png"],
								 ["Unity game engine", "Orbbec depth camera"],
								 "https://www.youtube.com/embed/uA5pA5tEB94")
				+project("Cybermancy",
				         "interactive browser based artwork",
								 "9.20.",
								 ["Cybermancy is a AR palm reading experience which presents the user with targeted advertisements and content based on their estimated demographic. Underneath this pseudoscientific exterior, analysis is done by AI known as neural networks. They are advanced enough that they can only be understood as 'black boxes'. Like an audience before a magician, you may observe things going in and out, but not how it is transformed in between. Expectations of magic and science, privacy and exposure collide and merge in this experience. \
								 This artwork was part of the Origin Parallels Exhibition at Kudos Gallery"],
								 ["img/cybermancy.jpg"],
								 ["javascript"],
								 "",
								 "Link to artwork",
								 "https://j-fan.github.io/cybermancy2/")
				+project("Synergy",
				         "vivid 2018 artwork",
								 "05.18.",
								 ["Synergy is an interative artwork created by the CREATE society \
								   at UNSW. I worked as a designer creating sitemaps, \
								   objects, overall concept.",
								   "Synergy presents as a pretty tableau from nature: a large plywood tree surrounded by similarly stylised ferns. However, this deceptively simple scene is actually a representation of a complex superorganism. \
								   Using interactive technology, it demonstrates how inconspicuous microorganisms are absorbed into a greater whole and play a key role in the survival of a greater being. It draws inspiration from mycorrhizal networks where fungi connect and nourish plants, working together to sustain each other.",
								   "People can move freely through the work's large area, but when they come into close proximity to the ferns, the whole organism reacts. It shares information visually by pulsing light along the roots towards the central tree, and the lighting on the ferns begins to dance - as if the tree has in turn warned them of approaching danger. \
								   "],
								 ["img/synergy1.jpg","img/synergy2.jpg","img/synergy3.jpg","img/synergy4.jpg"],
								 ["Blender","Photoshop","Rhino 3D"],
								 "https://www.youtube.com/embed/gOvbXoI42wI")

				+project("Algorhythmic",
								 "creative code",
								 "02.18.",
								 ["Algorhythmic is a interactive audiovisual experience featuring generative graphics \
								   created with Unity and OpenCV. The program tracks people in a space and represents \
								   that movement in virtual space filled with responsive particle systems and objects. \
								   The animation is then augmented by the speed and frequencies in the chosen song.",
								   "Song credit: Reminisce by A Himitsu"],
								 ["img/algo1.jpg","img/algo3.jpg"],
								 ["Unity","C#"],
								 "https://www.youtube.com/embed/heBQwd_XMw4")

				+project("Strange Attraction",
				         "unity sketch",
								 "07.19.",
								 ["Various strange attractor equations were used to drive particle motion to reveal their beautiful mathematical forms. Audio reactivity was also added to control speed and brightness with the use of FFT."],
								 ["img/attractor1.jpg"],
								 ["Unity","C#"],
								 "https://www.youtube.com/embed/scnWbNIVyzc")

				+project("Worms",
				         "unity sketch",
								 "05.19.",
								 ["The worms in this sketch are programmatically generated geometry animated with curl noise and vortex equations."],
								 ["img/worms1.png"],
								 ["Unity","C#"],
								 "https://www.youtube.com/embed/cgNPm-X9FDA")

				+project("Energy",
				         "interactive projection",
								 "07.16.",
								 ["Energy is a interactive floor projection created in Processing and MaxMsp.\
								  The particles in the animation respond to the brightest point as \
									detected by a webcam. On the night this was a clear umbrella & torch. \
									Speakers attached to the umbrella also responded to the partipants  \
									location on the ground. In this artwork I worked on the programming and on concept design"
									, "Collaborators: Siobhan Morrell(object design/construction), Melissa Grasso(sound and object design), Jessica Dallywater (sound and object design/construction)"],
								 ["img/particle.jpg","img/particle2.jpg","img/particle3.jpg"],
								 ["Processing","MaxMSP"],
								 "https://www.youtube.com/embed/tSJRo-a2fQs")
				+project("Sound Tree",
								 "interactive projection",
								 "05.17.",
								 ["Sound Tree is an immersive generative artwork that takes \
								  the form of a fractal tree that grows and shrinks according \
									to the conversations inside the tent. Sound is \
									picked up by a directional microphone inside the tent, analysed \
									and used as drive the Processing graphics."],
								 ["img/soundtree1.jpg","img/soundtree2.jpg"],
								 ["Processing"],
								 "https://www.youtube.com/embed/50oBMal-Muo")
								 
								 
				+project("Portfolio",
								 "personal website",
								 "04.18.",
								 ["This website you are looking at now was created with Pug (html preprocessor), Stylus(css preprocessor) and vanilla javascript. It functions as \
								 a self contained, static site but was developed with Node.js to handle live refresh and compiling of Pug and Stylus into html and css respectively.\
								 All UI components and animated were created from scratch, with no dependencies from other libraries to keep it lightweight."],
								 ["img/website.jpg"],
								 ["Pug","Stylus","Node.js"],
								 "")


			.page.3d-art
				+project("Taste Memory",
								 "Environment Modelling",
								 "8.20.",
								 ["Food is a powerful gateway into other cultures, however the stories are not always apparent. 'Taste Memory' features pixel art renditions of dishes from cultural minority groups within and around China. The artworks are in the style of 'cute' pixel art depicting food popular in the 2000s on the internet and in games. These minorities are facing past or ongoing persecution affecting the survival of their identity. However, food can be a strong defense against cultural erasure, especially for migrants, so long as we understand where it comes from. \
									Chuar - a kebab from the Uyghur people, one of China's Muslim minorities. This kebab is a popular street food, especially in Northern China. Currently they have been facing violence and persecution by the Chinese government following a period of racial unrest. \
									Hakka Salt Baked Chicken - Hakka translates literally to 'guest family'. They are a Chinese minority that are widespread across China and the world but have no particular homeland. Their cuisine makes extensive use of salting and pickling to preserve food. \
									Tibetan Momo with Tomato Chutney - Due to its geographic location, Tibetan cuisine has adopted neighbouring Indian cuisine. They frequently use dairy in their food, which is rare in Han cuisine. \
									Wonton Noodle Soup - Hong Kong food incorporates both traditional Cantonese and British cuisine, and is known for being a culinary destination. Just like their food, the culture of Hong Kong grew to be distinct from China with all the international influences. This is the very identity that is under threat at the moment, as seen in the recent protests. \
									Taiwanese beef noodle soup - Taiwanese food reflects its history, with influences from the indigenous people, Japanese food from its time of occupation and Fujianese cuisine brought from the mainland due to the Kuomintang retreat."],
								 ["img/taste_memory.png", "img/taste_memory_1.gif","img/taste_memory_2.gif","img/taste_memory_3.gif", "img/taste_memory_4.gif","img/taste_memory_5.gif"],
								 ["Blender"],
								 "",
								 "This artwork was part of the Screenshot online exhibition at Lane Cove Gallery",
								 "https://www.gallerylanecove.com.au/screenshot"
								 )
				+project("Hong Kong",
								 "Environment Modelling",
								 "10.19.",
								 ["Real time street model created in Blender Eevee"],
								 ["img/HK1.jpg","img/HK2.jpg","img/HK3.jpg"],
								 ["Blender"],
								 "https://www.youtube.com/embed/zVZbKX6GW3g")
				+project("Cyberpunk",
								 "Environment Modelling",
								 "06.17.",
								 ["This is a cyperpunk themed artwork exploring the new physically based rendering workflow for materials"],
								 ["img/cyber1.jpg","img/cyber2.png","img/cyber3.png"],
								 ["Blender"],
								 "")
				+project("Techwear Man",
								 "Character Modelling",
								 "03.18.",
								 ["Exploration of skin and clothing material creation with Blender and Zbrush."],
								 ["img/man1.jpg","img/man2.jpg"],
								 ["Blender","Zbrush"],
								 "")
				+project("Orchids",
								 "Organic Modelling",
								 "10.19.",
								 ["3D orchids with photoscanned textures and gold drops"],
								 ["img/orchids1.jpg"],
								 ["Blender"],
								 "")
				+project("Night Ride",
								 "Environment Modelling",
								 "06.17.",
								 ["Blender render exploring colour and mood, inspired by Tokyo trains."],
								 ["img/train.jpg","img/train2.png","img/train3.png"],
								 ["Blender"],
								 "")
				+project("Railroad uniform",
								 "Character Modelling",
								 "07.16.",
								 ["Original model made for Fallout 4. The challenge was to model/texture/rig a model \
								  from scratch but also make a appropiate and meaningful design for an existing universe\
									, in this case for the Railroad faction. The design was inspired by early aviator outfits. "],
								 ["img/fo1.jpg","img/fo2.jpg","img/fo3.jpg","img/fo4.jpg"],
								 ["Blender","Mudbox"],
								 "")
				+project("Redguard Noble Armor",
								 "Character Modelling",
								 "01.16.",
								 ["I wanted the try the whole process of designing, modelling, texturing \
								  and rigging character armor, so skyrim became my guinea pig. The hard \
									part was none of those things, it was a lack of a updated nif plugin \
									and functional skeleton. I also did some visual research on possible \
									cultural influences for the Redguards and incorporated those. "],
								 ["img/skyrim1.jpg","img/skyrim2.jpg","img/skyrim3.jpg"],
								 ["Blender","Photoshop"],
								 "")
			.page.illustration
				+project("Human",
								 "Character Illustration",
								 "03.17.",
								 ["2d hand drawn illustration over a generative design created in Processing. The background was created by drawing \
								 particles over a vector field, with each vector direction determined by Perlin noise"],
								 ["img/ill2.jpg"],
								 ["Blender","Processing"],
								 "")
				+project("Encode",
								 "Character Illustration",
								 "01.16.",
								 ["2d hand drawn illustration over a generative glyph design created in Processing."],
								 ["img/ill4a.jpg","img/ill4.jpg"],
								 ["Blender","Processing"],
								 "")
				+project("Tunnel Vision",
								 "Character Illustration",
								 "01.16.",
								 ["2d hand drawn illustration over a 3D render background."],
								 ["img/ill3.jpg"],
								 ["Blender","Photoshop"],
								 "")
				+project("Wetwire",
								 "Character Illustration",
								 "01.16.",
								 ["Wetwire is a personal project of mine where I play alternative depictions \
								  of the Cyberpunk genre. In particular, I am exploring the aesthetics of soft \
									robotics/body modification, active competition between the natural and artificial \
									world, and reframing Asian cultures as the subject of Cyberpunk, rather than the background. \
									It is mainly illustration based, but it is not limited to that format. Some of my creative coding \
									experiments in Processing have also been worked into the backgrounds. Most images \
									in the series make use of 2D hand illustration on top of 3D renders so I can play more \
									with lighting and composition"],
								 ["img/ill1.jpg"],
								 ["Blender","Photoshop"],
								 "")
			.page.about
				.item
					.title Hi I'm Jane Fan
				.item
					.subtitle I'm a software developer and media artist.
				.item
					h4 About Me
					p.
						I like to apply my programming knowledge in experimental and
						artistic ways, including but not limited to, generative and
						interactive art installatons, illustration, 3D art and front-end
						programming (like this website). I'm always looking for new ways to apply my artistic and programming knowlege together.
				.item
					h4 Skills
					p.
						Dotnet // Javascript // Unity // Processing // Computer vision // Blender // Photoshop
				.item
					h4 Contact Me
					p.
						jfan9988 (@) gmail.com
				.item
					h4 Links
					a(href="https://github.com/j-fan")
						p Github
					a(href="https://www.artstation.com/adelruna")
						p Artstation


	

		//script(src="reload/reload.js")
		script(src="js/index.js")
